.menu {
	width: 240px;
	padding-top: 65px;
	position: relative !important;
	box-sizing: border-box;
}

.menu a {
	color: rgba(0, 0, 0, .87);
	text-decoration: none;
	text-transform: capitalize;
}

.menu a:hover, .menu a:active, .menu a:visited {
	color: inherit;
}