.calendar-days__list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(7, 1fr);
	flex-grow: 1;
}

.calendar-days__list_4 {
	grid-template-rows: repeat(4, 25%);
}

.calendar-days__list_5 {
	grid-template-rows: repeat(5, 20%);
}

.calendar-days__list_6 {
	grid-template-rows: repeat(6, 16.6%);
}

.calendar-days__item {
	flex: 0 0 14.28%;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,.1);
	cursor: pointer;
	overflow: hidden;
	height: 100%;
}

.calendar-days__item_disabled {
	background: rgba(0,0,0,.035);
	color: rgba(0,0,0,.35);
	cursor: inherit;
}

.calendar-days__item_events {
	background: rgba(245, 0, 87, .05);
	box-shadow: inset 0 3px 0 #f50057;
}

.calendar__days-ticket {
	font-size: 12px;
	margin-top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.calendar__days-ticket span {
	display: inline-block;
	margin-right: 10px;
}