.tickets-list {
	display: flex;
}

.tickets-list__item {
	flex: 0 0 19%;
	margin-top: 20px;
	margin-right: 1%;
	height: 200px;
	box-sizing: border-box;
	position: relative;
	display: flex;
}

.ticket__content {
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow: hidden;
	box-sizing: border-box;
}

.ticket__date {
	position: absolute;
	font-size: 12px;
	color: rgba(0, 0, 0, .4);
	text-align: right;
	left: 20px;
	right: 20px;
}

.ticket__title {
	padding-top: 25px;
}

.ticket__buttons {
	position: absolute;
	bottom: 10px;
	right: 10px;
}