body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
    font-family: Arial, sans-serif;
}

html, body, #root {
    height: 100%;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}